
ul {
  list-style-type: none;
}

a:link {
  text-decoration: none;
  color: black;
}

#cta-text {
  color: white;
}

#cta-title {
  color: #F4CE14;
}


@media (min-width: 800px) {
  
  #main-logo {
    padding-left: 3%;
    padding-right: 15%;
  }

  nav {
    display: flex;
    justify-content: flex-start;
  }

  #call-to-action {
    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr;
    padding-top: 2rem;
    max-height: 17rem;
    background-color: rgb(73, 94, 87);
  }

  #cta-img {
    width: auto;
    height: 30%;
    border-radius: 16px;
    position: relative;
  }

  #specials-title-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 5rem;
    padding-left: 20%;
    padding-right: 20%;
  }

  .specials-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 20%;
    padding-right: 20%;
    column-gap: 20px;
  }

  .special-card {
    background-color: rgb(237,239,238);
    border-radius: 16px 16px 0px 0px;
  }
  
  .special-foodPic {
    width: 100%;
    height: auto;
    border-radius: 16px 16px 0px 0px;
  }

}

@media (max-width: 800px) {
  
#cta-img {
  width: 40%;
  height: auto;
  border-radius: 16px;
}

#call-to-action {
  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(73, 94, 87);
}

}



