h1, h2, h3, h4 {
  font-family: 'Markazi Text', serif;
}

h1 {
  font-size: 28pt;
}

p, a, body {
  font-family: 'Karla', sans-serif;
}

ul {
  list-style-type: none;
}

a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

#a-button {
  color: black;
  text-decoration: none;
  padding: 10px;
}

#a-button:hover {
  color: white;
}


button {
  border-radius: 12px;
  font-size: 15px;
  font-family: 'Karla', sans-serif;
  background-color: #F4CE14;
  padding: 5px;
}

button:disabled {
  background-color: gray;
}

button:hover:disabled {
  color:rgb(96, 92, 92);
  background-color: gray;
}

button:hover {
  color: white;
  background-color: rgb(73, 94, 87);
}

button:active {
  transform: translateY(3px);
}

#cta-text {
  color: white;
  padding-right: 8%;
}

#cta-title {
  color: #F4CE14;
}

#customer-avatar {
  border-radius: 50%;
}


@media (min-width: 800px) {
  
  #main-logo {
    padding-left: 20%;
    padding-right: 7%;
  }

  nav {
    display: flex;
    justify-content: flex-start;
  }

  #call-to-action {
    display: inline-flex;
    justify-content: center;
    padding-top: 2rem;
    padding-left: 20%;
    padding-right: 20%;
    max-height: 17rem;
    background-color: rgb(73, 94, 87);
  }

  #cta-img {
    width: 40%;
    height: 40%;
    border-radius: 16px;
    position: relative;
  }

  @-moz-document url-prefix() {
    #cta-img {
      width: 70%;
      height: 70%;
      border-radius: 16px;
      position: relative;
    }

    #main-logo {
      padding-left: 20%;
      padding-right: 2%;
    }

  }

  #specials-title-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 5rem;
    padding-left: 20%;
    padding-right: 20%;
  }

  .specials-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 20%;
    padding-right: 20%;
    column-gap: 20px;
  }

  .special-card {
    background-color: rgb(237,239,238);
    border-radius: 16px 16px 0px 0px;
  }
  
  .special-foodPic {
    width: 100%;
    height: auto;
    border-radius: 16px 16px 0px 0px;
  }

  #customers-say-container {
    background-color: rgb(255, 235, 217);
  }

  #customers-say-title {
    text-align: center;
    padding-top: 5%;
  }

  .customer-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
    column-gap: 20px;
  }

  .customer-card {
    background-color: white;
    border-radius: 16px;
    text-align: center;
    padding: 5px;
  }

  #star-icon {
    height: 10%;
    width: 10%;
    padding-bottom: 10px;
    padding-top: 5px;
  }

  #about-container {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    column-gap: 25px;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
  }

  #about-pics {
    position: relative;
  }

  #pictureA, #pictureB {
    width: 80%;
    height: auto;
  }

  #pictureA {
    position: relative;
    top: 0;
    left: 0;
  }

  #pictureB {
    position: absolute;
    top: 160px;
    left: 60px;
  }

  #footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 20%;
    padding-right: 20%;
    column-gap: 10px;
    background-color: rgb(237, 235, 235);
  }

  .footer-ul {
    padding: 0;
    list-style-type: none;
  }

  #footer-logo-container {
    align-self: center;
  }

  .booking-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    column-gap: 5%;
    background-color: rgb(73, 94, 87);
  }

  #res-title {
    color: #F4CE14;
  }

  #reservation-name, #reservation-date, #reservation-time, #num-guests,
  #occasion, #reservation-disclaimer {
    color: white;
  }

  #restaurant-img {
    width: 120%;
    height: auto;
  }

  #confirmation-container {
    text-align: center;
    color: #F4CE14;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: rgb(73, 94, 87);
  }

  #item-price-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 3%;
  }

  #item-price {
    justify-self: center;
    color: #EE9972;
  }

  #item-description, #order-delivery-card {
    padding-left: 3%;
  }

  #order-delivery-card  {
    font-weight: bold;
  }

  #rating {
    padding-bottom: 4%;
  }

}

@media (max-width: 800px) {
  
#cta-img , .special-foodPic, #pictureA, #pictureB, #restaurant-img{
  width: 40%;
  height: auto;
  border-radius: 16px;
}

#call-to-action {
  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(73, 94, 87);
}



}



